# Default ignored files
/shelf/
/ProjectPythonWTA.iml
/PythonProjectWTA.iml
/misc.xml
/modules.xml
/lib/
/vcs.xml
/workspace.xml
/inspectionProfiles
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/cplex-22.1.1.0-py3-none-any.whl

